@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "light-yekanbakh";
        font-style: normal;
        src: local("Yekan Bakh"),
        url("../fonts/yekan-bakh/yekan-bakh-light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "regular-yekanbakh";
        font-style: normal;
        src: local("Yekan Bakh"),
        url("../fonts/yekan-bakh/yekan-bakh-regular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "medium-yekanbakh";
        font-style: normal;
        src: local("Yekan Bakh"),
        url("../fonts/yekan-bakh/yekan-bakh-medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "bold-yekanbakh";
        font-style: normal;
        src: local("Yekan Bakh"),
        url("../fonts/yekan-bakh/yekan-bakh-bold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "heavy-yekanbakh";
        font-style: normal;
        src: local("Yekan Bakh"),
        url("../fonts/yekan-bakh/yekan-bakh-heavy.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "fat-yekanbakh";
        font-style: normal;
        src: local("Yekan Bakh"),
        url("../fonts/yekan-bakh/yekan-bakh-fat.woff2") format("woff2");
        font-display: swap;
    }
    * {
        @apply font-regular-yekanbakh;
    }

    img {
        @apply w-full h-auto;
    }

    body {
        @apply text-regular-b3 font-regular-yekanbakh;
    }
    p{
        @apply text-body-text-color;
    }

    p > a {
        @apply text-heavy-a1 font-heavy-yekanbakh text-secondary-500 hover:text-secondary-600 transition-colors;
    }
}

@layer components {
    .dir-ltr {
        direction: ltr
    }

    .dir-rtl {
        direction: rtl
    }

    .menu-item-has-children {
        @apply relative;
    }

    .menu-item-has-children > a {
        @apply after:content-[url(../images/dependencies/angle-down.svg)] flex items-center after:mt-1 gap-x-1.5 after:w-2;
    }

    .mask-section {
        mask: url("../images/dependencies/md-header.svg");
        mask-position: center bottom;
        mask-repeat: no-repeat;
        background-color: white;
    }

    .mask-section-showcase {
        mask: url("../images/dependencies/bottom-showcase-md.svg");
        mask-position: center top;
        mask-repeat: no-repeat;
        background-color: white;
    }
    .package-mask-section-showcase {
        mask: url("../images/dependencies/package-mask-info-sm.svg");
        mask-position: center top;
        mask-repeat: no-repeat;
        background-color: white;
        background-position: center center;
        background-size: contain;
    }
    .mask-section-class-book {
        mask: url("../images/dependencies/home-bg-middle-mask.svg");
        mask-position: center top;
        mask-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .mask-section-online-exam {
        mask: url("../images/dependencies/mask-exam.svg");
        mask-position: center center;
        mask-repeat: no-repeat;
        background-color: white;
        mask-size: contain;
    }
    /*Responsive Dependency*/
    @media screen and (min-width: 1024px) {
        .mask-section {
            mask: url("../images/dependencies/lg-header.svg");
            mask-position: bottom;
            background-color: white;
        }

        .mask-section-showcase {
            mask: url("../images/dependencies/bottom-showcase-lg.svg");
            mask-position: center top;
            mask-repeat: no-repeat;
            background-color: white;
        }
        .package-mask-section-showcase {
            mask: url("../images/dependencies/package-mask-info-lg.svg");
            mask-position: center top;
            mask-repeat: no-repeat;
            background-color: white;
            background-position: center center;
            background-size: contain;
        }
        .mask-section-toprating {
            mask: url("../images/dependencies/Union-1024.svg");
            mask-position: center center;
            mask-repeat: no-repeat;
            background-color: white;
        }
        .menu-item-has-children:hover > .sub-menu {
            @apply opacity-100 visible transition delay-200;
        }
        .sub-menu {
            @apply absolute top-10 right-0 bg-white min-w-fit child:text-nowrap px-6 divide-y child:py-4 rounded-2xl border opacity-0 invisible delay-200;
        }
    }
    @media screen and (min-width: 1280px) {
        .mask-section-toprating {
            mask: url("../images/dependencies/Union.svg");
            mask-position: center center;
            mask-repeat: no-repeat;
            background-color: white;
        }
    }
    @media screen and (min-width: 1360px) {
        #class-product-slider-next{right: -16px}
        #class-product-slider-prev{left: -16px}
    }
}

.showcaseSlider-pagination .swiper-pagination-bullet {
    background: #9C9C9C;
    transition: all .3s ease;
}

.showcaseSlider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #00B8E9;
    width: 20px;
    border-radius: 30px;
}

.swiper.horizontal-default-slider > .swiper-wrapper > .swiper-slide,.swiper.book-slider > .swiper-wrapper > .swiper-slide {
    transform: unset;
}
.swiper.class-product-slider > .swiper-wrapper > .swiper-slide {
    transform: unset;
}
.gr-purple {
    background: linear-gradient(115deg, #C9C2F4 -20.98%, #7E75B6 31.06%, #373350 93.09%)
}
.gr-purple-2 {
    background: linear-gradient(70deg, #C9C2F4 -37.84%, #7E75B6 13.03%, #373350 134.11%)
}
.text-h-shadow {
    text-shadow: 0px 4px 4px rgb(0,0,0,.25);
}
.consulation-request-form >div > form {
    @apply mt-6 flex flex-col md:flex-row justify-center items-center gap-3;
}
.consulation-request-form >div > form > div.gform-body > div {
    @apply flex gap-x-3;
}
.consulation-request-form >div > form > div.gform-body > div label {
    @apply hidden;
}
.consulation-request-form >div > form > div.gform-body > div input {
    @apply w-1/2 md:w-auto rounded-xl placeholder:text-medium-s1 placeholder:font-medium-yekanbakh px-4 placeholder:text-right focus:outline-none;
}
.consulation-request-form >div > form > div.gform_footer {
    @apply !mt-0;
}
.consulation-request-form .gform-theme--foundation .gform_footer, .gform-theme--foundation .gform_page_footer {
    @apply !mt-0;
}
.consulation-request-form >div > form > div.gform_footer > input {
    @apply !bg-[#E16C00] !text-white !border border-[#0A184A] !shadow-[0px_4px_0px_0px_rgb(10,24,74,1)] !rounded-xl !w-full md:!w-auto !text-heavy-b1 !font-heavy-yekanbakh !py-2.5 !px-6 !cursor-pointer;
}
.consulation-request-form  div.gform_confirmation_message {
    @apply text-center mt-5 text-white font-bold-yekanbakh font-bold;
}
input.username-input {
    @apply border h-10 px-3 py-1 rounded-lg focus:outline-1 focus:outline-secondary-100 w-full bg-[#F6F6F6];
}
input.username-input.error {
    @apply border-red-700 focus:outline-0;
}
input.username-input.success {
    @apply border-green-500 focus:outline-0;
}
p.login-form-error {
    @apply text-xs mt-1 text-red-700;
}

#loading {
    --r: 100px;
    height: var(--r);
    width: var(--r);
    -webkit-box-reflect: below 2px linear-gradient(transparent 80%, rgba(0, 0, 0, 0.3));
}
.half {
    width: inherit;
    height: inherit;
    position: absolute;
    /* border: 1px solid blue; */
    border-radius: 50%;
    animation: Loading 2s linear infinite;
}
.half:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background: linear-gradient(to top, transparent, #FF6D01);
    background-size: calc(var(--r) / 2) var(--r);
    background-repeat: no-repeat;
    -webkit-mask: radial-gradient(circle, transparent 43px, #000 43px);
}
.half:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    color: #6530ED;
    background: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2.5px, 0 0 5px, 0 0 5px, 0 0 7px, 0 0 8px, 0 0 10px,
    0 0 11.5px, 0 0 12.5px, 0 0 21px, 0 0 23px;
    z-index: 10;
}
.half:nth-child(2) {
    animation-delay: -1s;
    filter: hue-rotate(150deg);
}
@keyframes Loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
#mobile-otp-page::-webkit-inner-spin-button,#mobile-otp-page::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.orange-package-label {
    background-color: #FF6D01;
    box-shadow: 0px 2px 9px 0px rgba(255, 109, 1, 0.43);
}
.orange-package-disc > li {
    padding-right: 15px;
}
.orange-package-disc > li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(233deg, rgba(225,108,0,1) 0%, rgba(229,199,152,1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
    transform: rotate(45deg);
}

.blue-package-label {
    background-color: #00B8E9;
    box-shadow: 0px 2px 9px 0px rgba(0, 184, 233, 0.43);
}
.blue-package-disc > li {
    padding-right: 15px;
}
.blue-package-disc > li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(233deg, rgba(0,184,233,1) 0%, rgba(175,232,248,1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
    transform: rotate(45deg);
}
.purple-package-label {
    background-color: #6530ED;
    box-shadow: 0px 2px 9px 0px rgba(101, 48, 237, 0.43);
}
.purple-package-disc > li {
    padding-right: 15px;
}
.purple-package-disc > li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(233deg, rgba(101, 48, 237, 1) 0%, rgba(202, 183, 252, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
    transform: rotate(45deg);
}
.green-package-label {
    background-color: #009246;
    box-shadow: 0px 2px 9px 0px rgba(0, 146, 70, 0.43);
}
.green-package-disc > li {
    padding-right: 15px;
}
.green-package-disc > li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(233deg, rgba(0, 146, 70, 1) 0%, rgba(133, 239, 185, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
    transform: rotate(45deg);
}
.green-package-label {
    background-color: #009246;
    box-shadow: 0px 2px 9px 0px rgba(0, 146, 70, 0.43);
}
.green-package-disc > li {
    padding-right: 15px;
}
.green-package-disc > li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(233deg, rgba(0, 146, 70, 1) 0%, rgba(133, 239, 185, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
    transform: rotate(45deg);
}
.red-package-label {
    background-color: #CD171A;
    box-shadow: 0px 2px 9px 0px rgba(205, 23, 26, 0.43);
}
.red-package-disc > li {
    padding-right: 15px;
}
.red-package-disc > li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(233deg, rgba(205, 23, 26, 1) 0%, rgba(250, 146, 147, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
    transform: rotate(45deg);
}
.pink-package-label {
    background-color: #E23DD2;
    box-shadow: 0px 2px 9px 0px rgba(226, 61, 210, 0.43);
}
.pink-package-disc > li {
    padding-right: 15px;
}
.pink-package-disc > li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(233deg, rgba(226, 61, 210, 1) 0%, rgba(255, 167, 246, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
    transform: rotate(45deg);
}
.orange-package-info:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: linear-gradient(233deg, rgba(225,108,0,1) 0%, rgba(229,199,152,1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
}
.blue-package-info:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: linear-gradient(233deg, rgba(0,184,233,1) 0%, rgba(175,232,248,1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
}
.purple-package-info:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: linear-gradient(233deg, rgba(101, 48, 237, 1) 0%, rgba(202, 183, 252, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
}
.green-package-info:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: linear-gradient(233deg, rgba(0, 146, 70, 1) 0%, rgba(133, 239, 185, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
}
.red-package-info:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: linear-gradient(233deg, rgba(205, 23, 26, 1) 0%, rgba(250, 146, 147, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
}
.pink-package-info:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: linear-gradient(233deg, rgba(226, 61, 210, 1) 0%, rgba(255, 167, 246, 1) 100%);
    position: absolute;
    top: 40%;
    bottom: -50%;
    right: 0;
}
.orange-replay{
    fill: #FF6D01;
}
.blue-replay{
    fill: #00B8E9;
}
.purple-replay{
    fill: #6530ED;
}
.green-replay{
    fill: #009246;
}
.red-replay{
    fill: #CD171A;
}
.pink-replay{
    fill: #E23DD2;
}
.orange-after:before {
    content: '';
    width: 13px;
    height: 13px;
    background: linear-gradient(233deg, rgba(225,108,0,1) 0%, rgba(229,199,152,1) 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 100%;
}
.purple-after:before {
    content: '';
    width: 13px;
    height: 13px;
    background: linear-gradient(233deg, rgba(101, 48, 237, 1) 0%, rgba(202, 183, 252, 1) 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 100%;
}